Mapa_Densidad_Peninsula.ipynb filter=lfs diff=lfs merge=lfs -text
1.Introduccion/descartes.ipynb.ipynb filter=lfs diff=lfs merge=lfs -text
1.Introduccion/MapaPeninsula.html filter=lfs diff=lfs merge=lfs -text
